<!doctype html>
<html>
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= page_data[0].title || "Middleman" %></title>

        <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

        <%= stylesheet_link_tag :site %>
    </head>

    <body class="<%= page_classes %>">
        <header>
            <% link_to '/index.html' do %>
                <%= image_tag 'logo.svg' %>
                <h1>maplesplendor</h1>
            <% end %>
            <nav>
                <ul>
                    <li><%= nav_link("Wool", "/index.html") %></li>
                    <li><%= nav_link("Needles", "/needles/index.html") %></li>
                    <li><%= nav_link("Cart", "http://ww8.aitsafe.com/cf/review.cfm?userid=A4132041") %></li>
                    <li><%= nav_link("About", "/about/index.html") %></li>
                </ul>
            </nav>
        </header>
        <%= yield %>
        <footer>
                <%= image_tag 'logo.svg' %>
            <ul>
                <li><%= nav_link("Shopping Information", "/shopping-information/index.html") %></li>
                <li><%= nav_link("Wool", "/index.html") %></li>
                <li><%= nav_link("Needles", "/needles/index.html") %></li>
                <li><%= nav_link("About", "/about/index.html") %></li>
            <ul>
        </footer>
        <%= javascript_include_tag :all %>
    </body>
</html>
