<!doctype html>
<html manifest="manifest.appcache">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1" name="viewport">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= page.title + " - " if defined? page.title %><%= current_page.data.title + " - " if defined? current_page.data.title %>Maplesplendor</title>
        <meta name="description" content="<%= page.description if defined? page.description %><%= current_page.data.description if defined? current_page.data.description %>">
        <%= stylesheet_link_tag :site %>
        <script>document.documentElement.className = 'js'</script>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.png">
    </head>

    <body class="<%= page_classes %>">
        <header>
            <% link_to '/index.html' do %>
                <%= image_tag('logo.svg', { alt: "Maplesplendor" }) %>
                <h1>maplesplendor</h1>
            <% end %>
            <nav>
                <ul>
                    <li><%= nav_link("Wool", "/wool/index.html") %></li>
                    <li><%= nav_link("Needles", "/needles/index.html") %></li>
                    <li><%= nav_link("Felt", "/felt/index.html") %></li>
                    <li><%= nav_link("Cart", "https://ww8.aitsafe.com/cf/review.cfm?userid=A4132041", { "target":"_blank" }) %></li>
                    <li><%= nav_link("About", "/about/index.html") %></li>
                </ul>
            </nav>
        </header>
        <%= yield %>
        <footer>
            <a href="#" title="back to top">
            <%= image_tag('logo.svg', { alt: "Maplesplendor"}) %>
            </a>
            <ul>
                <li><%= nav_link("Shopping Information", "/shopping-information/index.html") %></li>
                <li><%= nav_link("Cart", "https://ww8.aitsafe.com/cf/review.cfm?userid=A4132041", { "target":"_blank" }) %></li>
                <li><%= nav_link("Links", "/links/index.html") %></li>
                <li><%= nav_link("Contact", "mailto: buy@maplesplendor.ca", { "target":"_blank" }) %></li>
            <ul>
        </footer>
        <%= javascript_include_tag :all, :defer => true %>
    </body>
</html>
