<form action="http://ww8.aitsafe.com/cf/addmulti.cfm" method="post">
    <input type="hidden" name="userid" value="A4132041">
    <input type="hidden" name="return" value="<%= current_page.url %>">
    <input type="hidden" name="product" value="<%= current_page_data(product)[:product] %>">

    <% current_page_data(product).colours.each do |colour| %>
        <label>
            <%= image_tag "/images#{current_page.url}#{product}/#{colour.downcase.gsub(/[^0-9a-z]/, '')}.jpg" %>
            <p>
                <input type="checkbox" name="product1[]" value="<%= colour %>">
                <span><%= colour %></span>
            </p>
            <% if current_page_data(product).textboxes %>
                <input type="number" name="product1[]">
            <% end %>
        </label>
    <% end %>

    <% if current_page_data(product).radios %>
        <% current_page_data(product).radios.each do |radio| %>
            <label>
                <input name="productpr1" type="radio" value="<%= radio.join(':') %>">
                    <%= radio[0] %> <%= number_to_currency(radio[1], :unit => "CHF").sub(/\.00$/, '.-') %>
                </input>
            </label>
        <% end %>
    <% else %>
        <input type="hidden" name="price" value="<%= current_page_data(product)[:price] %>">
    <% end %>

    <button>Cart</button>
</form>
