<div class="homepage container"<%= " style=\"color: #{pdata.text_colour}\"" if pdata.text_colour %>>
<%= image_tag pdata.image, { :alt => 'Maplesplendor' } if pdata.image %>
<div class="content">
<%= markdown pdata.markdown %>
<form method="get" action="<%= pdata.button.link %>">
    <button type="submit"><%= pdata.button.text %></button>
</form>
<a href="<%= pdata.secondary.link %>"><%= pdata.secondary.text %></a>
</div>
</div>
