<% if not pdata.product %>
    <% raise "#{current_page.path}: product is empty" %>
<% end %>
<% if pdata.radios and pdata.price %>
    <% raise "#{current_page.path}: price and radios" %>
<% end %>
<%= markdown pdata.description %>
<form action="http://ww8.aitsafe.com/cf/addmulti.cfm" method="post" class="mals-multiple">
    <input type="hidden" name="userid" value="A4132041">
    <input type="hidden" name="return" value="<%= config.url_root %><%= current_page.url %>">
    <% if pdata.colours %>
        <% pdata.colours.each do |colour| %>
            <label>
                <%= product_image_tag colour %>
                <p>
                    <input type="checkbox" name="product1[]" value="<%= colour %>">
                    <span><%= colour %></span>
                </p>
                <% if pdata.textboxes %>
                    <input type="number" name="product1[]">
                <% end %>
            </label>
        <% end %>
    <% end %>
    <% if pdata.radios %>
        <% pdata.radios.each do |radio| %>
            <label>
                <input name="productpr1" type="radio" value="<%= pdata[:product] %>, <%= radio.join(' :') %>">
                    <%= radio[0] %> <%= number_to_currency(radio[1], :unit => "CHF").sub(/\.00$/, '.-') %>
                </input>
            </label>
        <% end %>
    <% else %>
        <input type="hidden" name="productpr1" value="<%= pdata[:product] %>, :<%= pdata[:price] %>">
    <% end %>
    <input type="text" name="qty1">

    <button>Cart</button>
</form>
