<% if not pdata.product %>
    <% raise "#{get_current_page}: product is empty" %>
<% end %>
<% if pdata.radios and pdata.price %>
    <% raise "#{get_current_page}: price and radios" %>
<% end %>
<% if !pdata.radios and !pdata.price %>
    <% raise "#{get_current_page}: product has no price" %>
<% end %>

<%= banner_image_tag pdata[:product] if pdata.banner %>
<section class="mals-multiple<%= " textboxes" if pdata.textboxes %>"<%= " style=\"color: #{pdata.text_colour}\"" if pdata.text_colour %>>
    <% if pdata.description %>
        <div class="description">
            <%= markdown pdata.description %>
        </div>
    <% end %>
    <form action="http://ww8.aitsafe.com/cf/addmulti.cfm" method="post">
        <input type="hidden" name="userid" value="A4132041">
        <input type="hidden" name="return" value="<%= config.url_root %><%= current_page.url %>">
        <% if pdata.colours %>
            <% pdata.colours.each do |colour| %>
                <div class="colours">
                    <%= colour_image_tag(pdata.product, colour) %>
                    <%= "<label>" if not pdata.textboxes %>
                        <input type="checkbox" name="product1[]" value="<%= colour %>">
                    <%= "<label>" if pdata.textboxes %>
                        <%= colour %>
                        <% if pdata.textboxes %>
                            <input type="number" min="1" name="product1[]">
                        <% end %>
                    </label>
                </div>
            <% end %>
        <% end %>
        <div class="radios">
            <% if pdata.radios %>
                <%# radios is an array of single hashes %>
                <% pdata.radios.each_with_index do |radio, index| %>
                    <label>
                        <input name="productpr1" type="radio" value="<%= pdata[:product] %>, <%= "%s :%s" % radio.first %>"<%= " checked" if index.odd? %>>
                        <%= radio.keys.first %> <%= number_to_currency(radio.values.first, :unit => "$").sub(/\.00$/, '.-') %>
                    </label>
                <% end %>
            <% else %>
                <input type="hidden" name="productpr1" value="<%= pdata[:product] %>, :<%= pdata[:price] %>">
            <% end %>
            <input type="hidden" name="qty1">
            <noscript>
                <p>Please add up how many total: <input type="number" name="qty1"></p>
            </noscript>

            <button>Cart</button>
        </div>
    </form>
</section>
